<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
<meta charset="UTF-8">
<title>로그인 페이지</title>
</head>
<body>
	<h1>Login Test</h1>
	<span th:if="${userId eq null}">
		<a href="#" id="kakaoLogin">
			<img alt="" src="img/kakao_login_medium_narrow.png">
		</a>
	</span>
	<span th:if="${userId eq null}">
		<!-- 네이버 로그인 controller의 apiURL -->
		<input style="display: none" value="${apiURL}" id="naverURL">
		<a href="#" id="naverLogin"><img height="40" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/></a>
	</span>
	<span th:if="${userId eq null}">
		<a href="#" id="googleLogin"><img alt="" src="https://velog.velcdn.com/images/vector13/post/e3a5850a-02b8-451e-a11a-3c5c8b5449a8/signInWithGoogle.png"></a>
	</span>
		<!-- 로그아웃 -->
	<span th:if="${userId ne null}">
		<form name="logout" action="http://localhost:8080/logout">
			<input type="submit" value="로그아웃">
		</form>
	</span>
</body>
<script type="text/javascript" src="./js/login.js"></script>
</html>