.border1{
   width:100px;
   text-align: center;
   border:1px solid #dee2e6;
   height: 40px;
}
.border2{
   width:300px;
   text-align: center;
   border:1px solid #dee2e6;
}
.border3{
   width:100px;
   text-align: center;
   border:1px solid #dee2e6;
}
.border4{
   width:500px;
   text-align: center;
   border:1px solid #dee2e6;
}
.border5{
   width:200px;
   text-align: center;
   border:1px solid #dee2e6;
}
.border6{
   width:200px;
   text-align: center;
   border:1px solid #dee2e6;
}