<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <link rel="stylesheet" href="/css/sign2.css"/>
  </head>
  <body>
    <!-- multistep form -->
    <form action="/member/join" method="post" id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <!-- <li class="active">Account Setup</li> -->
        <!-- <li>Social Profiles</li> -->
        <li>Personal Details</li>
      </ul>
      <!-- fieldsets -->
      <div th:if = "${session.userId == null}">
      <fieldset>
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <input type="password" name="cpass" placeholder="Confirm Password" />
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"/>
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <a href="#" id="kakaoLogin"><img height="55px" src="./img/kakaoLogin.png"/></a><br>
        <input style="display: none" th:value="${apiURL}" id="naverURL">
        <a href="#" id="naverLogin"><img height="55px" style="margin-top: 5px;" src="./img/naverLogin.png"/></a><br>
        <a href="#" id="googleLogin"><img height="55px" style="margin-top: 5px;" src="./img/googleLogin.png"></a>
      </br>
        <input
          type="button"
          name="previous"
          class="previous action-button"
          value="Previous"
        />
        <input
          type="button"
          name="next"
          class="next action-button"
          value="Next"
        />
      </fieldset>
      </div>
      <div th:if = "${session.userId != null}">
      <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <!-- 이름설정 -->
        <input type="text" name="name" placeholder="Name" required/>
        <!-- 닉네임설정 -->
        <input type="text" name="nickName" placeholder="사용할 닉네임" required />
        <!-- 성별고르기 -->
        <select name="sex" id="sex">
          <option disabled hidden selected>성별</option>
          <option value="남자">남자</option>
          <option value="여자">여자</option>
      </select>
        <!-- 고민필요<input type="text" name="birthday" placeholder="xxxx-xx-xx" /> -->
        <input type="text" name="phoneNo" placeholder="010-0000-0000" required/>
        <!-- 휴대폰인증버튼 들어가야함 -->
        <!-- 해당회원 팀 소속없으므로 null일단 집어넣음 : 몽고디비컬럼보이기위해 -->
        <input type="hidden" name="tName" value=null>
        <!-- 해당회원 보유포인트없으므로 0일단 집어넣음 : 몽고디비컬럼보이기위해 -->
        <input type="hidden" name="hadPoint" value=0>
        <!-- 제출버튼 -->
        <input type="submit" value="회원가입"/><br>
      </fieldset>
      </div>
    </form>

  </body>
  <script src="./js/sign2.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
</html>