<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
<style type="text/css">
#loginSet img {
   cursor: pointer;
}
</style>
</head>
<body>
   <div id='loginSet'>
      <img id="kakaoLogin" height="55px" src="/img/kakaoLogin.png"/>
      <input style="display: none" th:value="${apiURL}" id="naverURL"/>
      <img id="naverLogin" height="55px" style="margin-top: 5px;" src="/img/naverLogin.png"/>
      <img id="googleLogin" height="55px" style="margin-top: 5px;" src="/img/googleLogin.png"/>
   </div>
</body>
<script type="text/javascript" src="/js/login.js"></script>
</html>