<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
<meta charset="UTF-8">
<title>로그인 페이지</title>
</head>
<body>
	<h1>Login Test</h1>
	<span th:if="${userId eq null}">
		<a href="#" id="kakaoLogin">
			<img alt="" src="img/kakao_login_medium_narrow.png">
		</a>
	</span>
	<span th:if="${userId eq null}">
		<!-- 네이버 로그인 controller의 apiURL -->
		HttpSession >> abc, "1234"
		${session.abc}
		
		<input style="display: none" th:value="${apiURL}" id="naverURL">
		<a href="#" id="naverLogin"><img height="40" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/></a>
	</span>
	<span th:if="${userId eq null}">
		<a href="#" id="googleLogin"><img alt="" src="https://velog.velcdn.com/images/vector13/post/e3a5850a-02b8-451e-a11a-3c5c8b5449a8/signInWithGoogle.png"></a>
	</span>
		<!-- 로그아웃 -->
	<span th:if="${userId ne null}">
		<form name="logout" action="http://localhost:8080/logout">
			<input type="submit" value="로그아웃">
		</form>
	</span>
	<!-- test kakao -->
	<h1>Search Map Test</h1>
	<div id="map_s" style="width:300px;height:300px;"></div>
	<h1>Near Map Test</h1>
	<div id="map_n" style="width:300px;height:300px;"></div>
	<h1>Static Map Test</h1>
	<div id="staticMap" style="width:600px;height:350px;"></div>
</body>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f3bf912ba858b8abef6fa5d46d5ff7b&libraries=services"></script>
<script type="text/javascript" src="js/map_search.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f3bf912ba858b8abef6fa5d46d5ff7b"></script>
<script type="text/javascript" src="js/map_near.js"></script>
<script type="text/javascript" src="js/map_test.js"></script>
</html>