<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
   <a href="#" id="kakaoLogin"><img height="55px" src="/img/kakaoLogin.png"/></a><br>
   <input style="display: none" th:value="${apiURL}" id="naverURL">
   <a href="#" id="naverLogin"><img height="55px" style="margin-top: 5px;" src="/img/naverLogin.png"/></a><br>
   <a href="#" id="googleLogin"><img height="55px" style="margin-top: 5px;" src="/img/googleLogin.png"></a><br>
</body>
<script type="text/javascript" src="/js/login.js"></script>
</html>