<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ai.mapper.BoardMapper">
	<select id="getList" resultType="org.ai.domain.BoardVO">
		select * from board where
		boardTitle = #{title}
	</select>

	<select id="getNoticeList" resultType="org.ai.domain.BoardVO">
		select * from board
	</select>

	<select id="getPopularList" resultType="org.ai.domain.BoardVO">
		select * from board order
		by recommends desc limit 5
	</select>

	<select id="getCurrentList" resultType="org.ai.domain.BoardVO">
		select * from board order
		by regDate desc limit 5
	</select>

	<insert id="write">
		insert into board (title, content, writer,
		imageFileName, imageFilePath, boardTitle) values
		(#{title}, #{content},
		#{writer}, #{imageFileName}, #{imageFilePath}, #{boardTitle})
	</insert>

	<update id="plusView">
		update
		board
		set
		views = views + 1
		where number = #{number}
	</update>

	<update id="plusReco">
		update
		board
		set
		recommends = recommends + 1
		where number = #{number}
	</update>

	<select id="getBoardView" resultType="org.ai.domain.BoardVO">
		select * from board where
		number = #{number}
	</select>

	<select id="search" resultType="org.ai.domain.BoardVO">
		select * from board where
		${title} LIKE CONCAT('%',#{content},'%')
	</select>
			
	<select id="getMyArticle" resultType="org.ai.domain.BoardVO">
		select * from board where writer = #{nickName}
	</select>
	
	<delete id="deleteBoard">
		delete from board where number = #{number}
	</delete>
	
</mapper>